<% if @loads.present? %>
  <table>
    <thead>
      <tr>
        <th colspan="2">Pickup</th>
        <th colspan="2">Dropoff</th>
        <th>Weight</th>
        <th>Length</th>
        <th>Distance</th>
        <th>Rate</th>
        <th>Rate per mile</th>
        <th>Notes</th>
        <th colspan="4">Broker</th>
        <th>Reference #</th>
        <th>Blob</th>
      </tr>
    </thead>
    <tbody>
      <% @loads.each do |l| %>
        <tr>
          <td><%= l.pickup_date.strftime('%-m/%-d %H:%M') %></td>
          <td><%= place(l.pickup_location) %></td>
          <td><%= l.dropoff_date&.strftime('%-m/%-d %H:%M') %></td>
          <td><%= place(l.dropoff_location) %></td>
          <td><%= number_with_delimiter(l.weight) %></td>
          <td><%= l.length %></td>
          <td><%= l.distance %></td>
          <td><%= currency(l.rate, show_cents: false) %></td>
          <td><%= currency(l.rate_per_mile) %></td>
          <td><%= l.notes %></td>
          <td><%= l.broker_company %></td>
          <td><%= l.contact_name %></td>
          <td><%= number_to_phone(l.contact_phone) %></td>
          <td><%= l.contact_email %></td>
          <td><%= l.reference_number %></td>
<!--          <td><%#= l.original_data.to_json %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
