<% if @loads.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="2">Pickup</th>
        <th colspan="2">Dropoff</th>
        <th>Weight</th>
        <th>Length</th>
        <th>Eqpmt</th>
        <th>Distance</th>
        <th>Rate</th>
        <th>Rate per mile</th>
        <th>Broker</th>
        <th>Commodity</th>
        <th>Ref</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @loads.each do |l| %>
        <tr>
          <td><%= button_to 'Dismiss', l, method: :delete, form_class: 'dismiss-button-form', remote: true,
                            form: { data: { load_id: l.id } } %></td>
          <td><%= l.pickup_date.strftime('%-m/%-d %H:%M') %></td>
          <td><%= l.pickup_location %></td>
          <td><%= l.dropoff_date&.strftime('%-m/%-d %H:%M') %></td>
          <td><%= l.dropoff_location %></td>
          <td><%= number_with_delimiter(l.weight) %></td>
          <td><%= l.length %></td>
          <td><%= content_tag 'span', title: l.equipment_type do %>
                <%= l.equipment_type_code %>
              <% end %></td>
          <td><%= l.distance %></td>
          <td><%= currency(l.rate, show_cents: false) %></td>
          <td><%= currency(l.rate_per_mile) %></td>
          <td><%= l.broker_company %></td>
          <td><%= l.commodity %></td>
          <td><%= l.reference_number %></td>
          <td><%= l.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= javascript_pack_tag 'loads_table.js' %>
