<%= render 'pickup_date_form' %>

<% if @loads.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="2">Pickup</th>
        <th colspan="2">Dropoff</th>
        <th>Hrs old</th>
        <th>Weight</th>
        <th>Eqp</th>
        <th>Distance</th>
        <th>Rate</th>
        <th>Rate per mile</th>
        <th>Broker</th>
        <th>Ref</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @loads.each do |l| %>
        <%= content_tag :tr, id: "load_#{l.id}", class: ('deleted' if l.deleted?) do -%>
          <td nowrap>
            <%= button_to 'Dismiss', l, method: :delete, class: 'dismiss-button', form_class: 'dismiss-button-form', remote: true,
                            form: { data: { load_id: l.id } } %>
            <%= shortlist_button(l) %>
            <%= unshortlist_button(l) %>
          </td>
          <td><%= link_to(pickup_date_display(l), l) %></td>
          <td><%= l.pickup_location %></td>
          <td><%= date_display(l.dropoff_date) %></td>
          <td><%= l.dropoff_location %></td>
          <%= content_tag :td, l.hours_old.to_i, class: l.old? && 'old-load' %>
          <td><%= number_with_delimiter(l.weight) %></td>
          <%= content_tag :td, class: l.box_truck? && 'box-truck-load' do %>
            <%= l.equipment_type_code %>
          <% end %>
          <td><%= l.distance %> mi</td>
          <td><%= currency(l.rate, show_cents: false) %></td>
          <%= content_tag :td, currency(l.rate_per_mile), class: l.high_rate? && 'high-rate-load' %>
          <td>
            <%= l.broker_company %>
            <%= link_to 'alias', new_broker_company_name_substitution_path(before: l.broker_company.name),
            class: %w[float-right company-alias-link] %>
          </td>
          <td><%= l.reference_number %></td>
          <td><%= l.notes %></td>
        <% end -%>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= javascript_pack_tag 'loads_table.js' %>
