<% title = shortlist? ? 'Shortlisted loads' : 'All loads' %>
<% content_for(:page_title, title) %>

<h1><%= title %></h1>

<% if shortlist? %>
  <nav><%= link_to 'All loads', root_path %> | <%= link_to 'Refresh data', refresh_path %></nav>
<% else %>
  <nav><%= link_to 'Shortlist', shortlist_loads_path %> | <%= link_to 'Refresh data', refresh_path %></nav>
<% end %>

<%= render 'table' %>
<%= render 'map_toggle_button' %>
<%= render 'map' unless @hide_maps %>
