<% title = shortlist? ? 'Shortlisted loads' : 'All loads' %>
<% content_for(:page_title, title) %>

<h1><%= title %></h1>

<% if shortlist? %>
  <div><%= link_to 'All loads', loads_path %></div>
<% else %>
  <div><%= link_to 'Shortlist', loads_path(shortlisted: true) %></div>
<% end %>

<%= render 'table' %>
<%= render 'map_toggle_button' %>
<%= render 'map' unless @hide_maps %>
