<% title = shortlist? ? 'Shortlisted loads' : 'All loads' %>
<% content_for(:page_title, title) %>

<h1><%= title %></h1>

<% if shortlist? %>
  <div><%= link_to 'All loads', loads_path %></div>
<% else %>
  <div><%= link_to 'Shortlist', loads_path(shortlisted: true) %></div>
<% end %>

<%= form_with method: :get do |form| %>
<%= form.date_field :earliest_pickup, value: earliest_pickup.to_date %>
<%= form.date_field :latest_pickup, value: latest_pickup.to_date %>
<%= form.submit 'Search' %>
<% end %>

<%= render 'table' %>
<%= render 'map' %>
