<% title = shortlist? ? 'Shortlisted loads' : 'All loads' %>
<% content_for(:page_title, title) %>

<h1><%= title %></h1>

<% if shortlist? %>
  <nav>
    <%= link_to 'All loads', root_path %> |
    <%= link_to 'Refresh data', refresh_path %> |
    <%= button_to 'Clear expired loads from shortlist', clear_deleted_from_shortlist_loads_path,
                  form_class: 'clear-expired-loads-form' %>
  </nav>
<% else %>
  <nav><%= link_to 'Shortlist', shortlist_loads_path %> | <%= link_to 'Refresh data', refresh_path %></nav>
<% end %>

<% if @refresh_status %>
  <p>
    Last update: <span title="<%= @refresh_status.error %>">
    <%= @refresh_status.status %></span> on <%= @refresh_status.time.strftime('%A, %b %d @ %H:%M') %>
  </p>
<% end %>

<%= render 'table' %>
<%= render 'map_toggle_button' %>
<%= render 'map' if @show_maps %>
