<% content_for(:page_title, "Load: #{@load.pickup_location} to #{@load.dropoff_location}") %>

<%= load_map(@load) %>

<p><%= link_to 'Back to loads', loads_path %></p>

<div>
  <%= dismiss_button(@load) %>
  <%= shortlist_button(@load) %>
  <%= unshortlist_button(@load) %>
</div>

<dl>
  <%= load_field @load, "#{@load.pickup_date&.strftime('%a %-m/%-d %H:%M')} - #{@load.pickup_location}", 'Pickup' %>
  <%= load_field @load, [@load.dropoff_date&.strftime('%a %-m/%-d %H:%M'), @load.dropoff_location].compact.join(' - '), 'Dropoff' %>
  <%= load_field @load, nil, 'Broker' do -%>
    <%= broker_data(@load) %>
  <% end %>
  <%= load_field @load, :reference_number %>
  <%= load_field @load, number_with_delimiter(@load.weight), 'Weight' %>
  <%= load_field @load, :length %>
  <%= load_field @load, @load.equipment_type && "#{@load.equipment_type_code} - #{@load.equipment_type}", 'Equipment' %>
  <%= load_field @load, "#{@load.distance} mi", 'Distance' %>
  <%= load_field @load, all_rates(@load), 'Rate' %>
  <%= load_field @load, all_rates_per_mile(@load), 'Rate per mile' %>
  <%= load_field @load, :notes, nil, class: 'selectable-for-rate', data: { load_id: @load.id } %>

  <%= content_tag :dt, 'Rates' %>
  <%= content_tag :dd do -%>
    <%= render 'rate_table', rates: (100..800).step(10).to_a, columns: 5, load: @load %>
  <% end %>

</dl>

<%= raw(ap(@load.raw, html: true)) %>
<%= javascript_pack_tag 'shortlist_buttons.js' %>
<%= javascript_pack_tag 'selectable_for_rate.js' %>
