<!DOCTYPE html>
<html>
  <head>
    <% page_title = yield(:page_title) %>
    <% page_title = page_title.presence && "#{page_title} | " %>
    <title><%= page_title %>Milton Morley Dispatcher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
